{% extends "site_base.html" %}

{% block site_wrapper %}
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header"></button>
          <a class="navbar-brand" href="#">uJotter</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <form class="form-signout pull-right" method="POST">
            {% csrf_token %}
            <input type="hidden" name="logout" value="1">
            <input class="btn btn-small btn-primary" type="submit" value='Выйти'>
          </form>
          <p class="navbar-text pull-right">
            Привет, <a href="/cabinet/profile/" class="navbar-link">{{ username }}</a> 
          </p>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <!-- <div class="row row-offcanvas row-offcanvas-right"> -->
      <div class="row">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="span3 menu_left">
              <div class="accordion" id="accordion1">
                  <div class="accordion-group">
                  <ul class="nav nav-list">
                  </ul>
                  </div>
              </div>
          </div>
        </div><!--/span-->

        <div class="col-xs-12 col-sm-9">
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; uJotter 2013</p>
      </footer>

    </div>
{% endblock %}

{% block build_menu_js %}
<script type="text/javascript">
    $(document).ready(function(){
    
        $.get('/ajax/menu', function(data){
          var data = $.parseJSON(data);
          
          if(data){
              $.each(data.list, function(){
                if(this.level == 1){
                    if((this.itype) == 1){
                      $(".menu_left .accordion .accordion-group ul").append('<li><div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion'+this.id+'" href="#collapse'+this.id+'">'+this.name+'</a></div><div id="collapse'+this.id+'" class="accordion-body collapse parent_'+this.id+'"><div class="accordion-inner"></div></div></li>')
                    }else{
                      if($(".menu_left .accordion .accordion-group ul").length > 0){
                          $(".menu_left .accordion .accordion-group ul").append('<li class="parent_'+this.id+'"><a class="go" href="/manual/'+this.slug+'.html">'+this.name+'</a></li>')
                      }else{
                          $(".menu_left .accordion .accordion-group").append('<ul><li class="active parent_'+this.id+'"><a class="go" href="/manual/'+this.slug+'.html">'+this.name+'</a></li></ul>')
                      }
                    }
                }
              })
              if(data.max_level > 1)
                  build_menu(data, 2)
            }
        })

        function build_menu(data, level){
            var cur_obj = ""
            $.each(data.list, function(){
                if(this.level == level){
                    cur_obj = $(".menu_left .parent_"+this.parent_id)
                    if(this.itype == 2){
                        if($("ul", cur_obj).length > 0){
                            (cur_obj).find("ul").append('<li class="parent_'+this.id+'"><a class="go" href="/manual/'+this.slug+'.html">'+this.name+'</a></li>')
                        }else{
                            cur_obj.append('<ul class="nav nav-list"><li class="parent_'+this.id+'"><a class="go" href="/manual/'+this.slug+'.html">'+this.name+'</li></ul>')
                        }
                    }else{
                        cur_obj.append('<div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion'+this.id+'" href="#collapse'+this.id+'">'+this.name+'</a></div><div id="collapse'+this.id+'" class="accordion-body collapse parent_'+this.id+'"><div class="accordion-inner"></div></div>')
                    }
                }
            })

            if(level < data.max_level){
                build_menu(data, data_len, level + 1)
            }
        }
    })
</script>
{% endblock %}
